.container {
  display: grid;
  grid-template-columns: 10px 340px 50% 100px 100px;
  grid-template-rows: 2% 8% 30% 30% 5% 15%;
  grid-gap: 10px;
  height: 100vh;
}
.header {
  padding: 10px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.menu {
  padding: 10px;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}
.info {
  padding: 30px;
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  text-align: left;
  margin-left: 322px;
}
.map {
  /* background: lightblue;*/
  padding: 10px;
  /*border: 1px solid red;*/
  grid-column: 3 / -1;
  grid-row: 4 / -1;
}