.container {
  display: grid;
  grid-template-columns: 2% 40% 50% 4% 4%;
  grid-template-rows: 2% 10% 30% 30% 5% 15%;
  grid-gap: 10px;
  height: 100vh;
  width: 200vh;
}
.header {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
}
.menu {
  padding: 10px;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}
.info {
  padding: 30px;
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  text-align: left;
  margin-left: 322px;
  margin-bottom: 300px;
}
.map {
  /* background: lightblue;*/
  padding: 10px;
  /*border: 1px solid red;*/
  grid-column: 3 / -1;
  grid-row: 4 / -1;
}
.logout {
  grid-column: 5 / 6;
}